
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  width: 100vw;
  height: 100vh;

  h1 {
    margin-bottom: 0;
  }  
}

.innerContainer {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 4rem 3rem;
  width: 100%;
  max-width: 37.5rem;
 
  .textInputField + .textInputField {
    margin-top: 1rem;
  }
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  >div {
    display: flex;
    margin: 0.75rem 0 2.5rem;
    p{
      margin: 0;
    }
    p + a {
      margin-left: 0.25rem;
    }
  }
}

.rememberMeWrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  min-width: fit-content;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.rememberMeGroup {
  display: flex;
  align-items: baseline;
  
}

.socialLoginWrapper {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
    
  span {
    // position: absolute;
    top: 8px;
    padding: 0 0.5rem;
    font-size: 0.75rem;
    color: #888;
    background-color: #fff;
    margin-bottom: 0.5rem;
  }

  button {
    padding: 0.45rem 3.5rem 0.25rem;
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    width: auto;
    outline: 1px solid #bbb;
    border-radius: 0.25rem;
    font-size: 18px;
    cursor: pointer;
  }
  button:hover {
    background-color: #1976d2;
    color: #fff;
  }

  
}

.socialButtonsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}